
<div id="beersBackground">
  <div id="beersBody">
    <img id="beersImg" src="{{this.image_url}}" alt="{{this.name}}">
    <div id="beersText">
    <h4>{{this.name}}</h4>
      <p>{{this.description}}</p>
      <p>{{this.tagline}}</p>
    </div>
  </div>
</div>
