{{!-- <div>
<div>
<img src="{{this.image_url}}" alt="{{this.name}}">
</div>

<h4>{{this.name}}</h4>

<div>
    <p>
{{this.description}}
    </p>
</div>

<div>
    <p>
{{this.tagline}}
    </p>
</div>


<div>
    <p>
{{this.food_pairing}}
    </p>
</div>

<div>
    <p>
{{this.brewers_tips}}
    </p>
</div>
</div> --}}



<div id="randomContainer">
  <img id="randomImg" src="{{this.image_url}}" alt="{{this.name}}">
  <div id="randomTextContainer">
    <h3>{{this.name}}</h4>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p> 
    
    <p><strong>Food pairing:</strong></p>
        <ul>
        {{#each this.food_pairing}}
        <li>{{this}}</li>
        {{/each}}
        </ul>
    <p><strong>Brewers tips:</strong> {{this.brewers_tips}}</p>
  </div>
</div>